<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/categorias.css">
    <title>Inicio - Centro Fungible</title>
</head>

<body>
    <!------------------------------------------------------------------------ [ HEADER: ] -->
    <header>
        <img src="../assets/logo/CF.png" alt="Logo de Centro Fungible">
    </header>
    <!------------------------------------------------------------------------ [ NAV: ] -->
    <nav>
        <a href="Categorias.html" alt="Enlace a la página de Equipos.">EQUIPOS</a>
        <a href="Inicio.html" alt="Enlace a la página de Ubicaciones.">INICIO</a>
        <a href="Ubicaciones.html" alt="Enlace a la página de Ubicaciones.">UBICACIONES</a>
        <button class="boton-perfil">
            <img src="../assets/icons/icon_perfil.png" alt="Acceso al perfil personal.">
        </button>
    </nav>
    <!------------------------------------------------------------------------ [ SECTION: ] -->
    <section>
        <!------------------------------------------------------------------------ [ SECTION: Article 1 ] -->
        <article class="categorias">

            <a class="categoria" href="Equipaciones.html"> <!-- [ Mostrar todas las Equipaciones ] -->
                <div class="desc">Todos</div>
                <img src="../assets/img/categoria_todo.jpg" alt="Categoría de equipamientos de sobremesa." width="600" height="400">
            </a>

            <a class="categoria" href="Equipaciones.html"> <!-- [ Mostrar las Equipaciones de la categoria PORTATILES ] -->
                <div class="desc">Portatiles</div>
                <img src="../assets/img/categoria_portatil.jpg" alt="Categoría de equipamientos portatiles." width="600" height="400">
            </a>

            <a class="categoria" href="Equipaciones.html"> <!-- [ Mostrar las Equipaciones de la categoria SOBREMESA ] -->
                <div class="desc">Sobremesa</div>
                <img src="../assets/img/categoria_sobremesa.jpg" alt="Categoría de equipamientos de sobremesa." width="600" height="400">
            </a>

            <a class="categoria" href="Equipaciones.html"> <!-- [ Mostrar las Equipaciones de la categoria PERIFERICOS ] -->
                <div class="desc">Perifericos</div>
                <img src="../assets/img/categoria_perifericos.jpg" alt="Categoría de equipamientos portatiles." width="600" height="400">
            </a>

            <a class="categoria" href="Equipaciones.html"> <!-- [ Mostrar las Equipaciones de la categoria AUDIOVISUAL ] -->
                <div class="desc">Audiovisual</div>
                <img src="../assets/img/categoria_audiovisual.jpg" alt="Categoría de equipamientos de sobremesa." width="600" height="400">
            </a>

            <a class="categoria" href="Equipaciones.html"> <!-- [ Mostrar las Equipaciones de la categoria OTROS ] -->
                <div class="desc">Otros</div>
                <img src="../assets/img/categoria_otros.jpg" alt="Categoría de equipamientos portatiles." width="600"height="400">
            </a>

        </article>
    <!------------------------------------------------------------------------ [ FOOTER: ] -->
    <footer>
        <p>Centro Funjible</p>
        <p>Tlf: 999 888 777</p>
        <p>© 2026</p>
        <p>Todos los derechos reservados a LAJJ</p>
    </footer>
</body>

</html>
