<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/global.css">
    <title>Inicio - Centro Fungible</title>
</head>

<body>
    <!------------------------------------------------------------------------ [HEADER: ] -->
    <header>
        <img src="../assets/logo/CF.png" alt="Logo de Centro Fungible">
    </header>
    <!------------------------------------------------------------------------ [NAV: ] -->
    <nav>
        <a href="Categorias.html" alt="Enlace a la página de Equipos.">EQUIPOS</a>
        <a href="Inicio.html" alt="Enlace a la página de Ubicaciones.">INICIO</a>
        <a href="Ubicaciones.html" alt="Enlace a la página de Ubicaciones.">UBICACIONES</a>
        <button class="boton-perfil">
            <img src="../assets/icons/icon_perfil.png" alt="Acceso al perfil personal.">
        </button>
    </nav>
    <!------------------------------------------------------------------------ [SECTION: ] -->
    <section>
        <!------------------------------------------------------------------------ [SECTION: Article 1 ] -->
        <article>
            <p>
                GESTION: Gestiona los equipamientos del centro.
            </p>
            <img src="../assets/img/inicio_almacen.jpg" alt="Imagen representativa del almacén del centro." width="50%">
        </article>
        <!------------------------------------------------------------------------ [SECTION: Article 2 ] -->
        <article>
            <p>
                GESTION: Gestiona los equipamientos del centro.
            </p>
            <img src="../assets/img/inicio_almacen.jpg" alt="Imagen representativa del almacén del centro." width="50%">
        </article>
    </section>
    <!------------------------------------------------------------------------ [ASIDE: ] -->
    <aside>

    </aside>
    <!------------------------------------------------------------------------ [FOOTER: ] -->
    <footer>
        <p>Centro Funjible</p>
        <p>Tlf: 999 888 777</p>
        <p>© 2026</p>
        <p>Todos los derechos reservados a LAJJ</p>
    </footer>
</body>

</html>
