<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Ubicaciones - Centro Fungible</title>
</head>

<body>
<!------------------------------------------------------------------------ [HEADER: ] -->
    <header>
        
    </header>
<!------------------------------------------------------------------------ [NAV: ] -->
    <nav>

    </nav>
<!------------------------------------------------------------------------ [SECTION: ] -->
    <section>
<!------------------------------------------------------------------------ [SECTION: Article 1 ] -->
        <article>

        </article>
<!------------------------------------------------------------------------ [SECTION: Article 2 ] -->
        <article>

        </article>

    </section>
<!------------------------------------------------------------------------ [ASIDE: ] -->
    <aside>

    </aside>
<!------------------------------------------------------------------------ [FOOTER: ] -->
    <footer>

    </footer>
</body>

</html>